*{
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
    box-sizing: border-box;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(pink,blue);
    background-size: cover;
}
.content{
    max-width: 800px;
    text-align: center;
}
.contact .content h1{
    font-size: 40px;
    font-weight: 500;
    color: #c50000;
    
}
.contact .content p{
    font-weight: 500;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box{
    position: relative;
    padding: 25px 0;
    display: flex;
}
.container .contactinfo .box .text{
    display: flex;
    margin-left:40px ;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 700;
    
}
.container .contactinfo .box .text h2{
    font-weight: 600;
    color: #00bcd4;
    border-bottom: 2px double rgb(255, 47, 47);
}
.contactform{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactform h2{
    font-size: 60px;
    color:#333;
    font-weight: 600;
    
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.contactform .inputbox input, .contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: 1px solid blue
    outline: none;
    resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left:0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #f00000;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 15px;
    transform: translatey(-20px);
}
 .contactform .inputbox input[type="submit"]{
    width: 100px;
    background:#04d9f5;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}
@media(max-width:991px)
{
    .contact{
        padding: 50px;

    }
    .container{
        flex-direction: column;
    }
    .container .contactinfo{
        margin-bottom: 40px;
    }
    .container .contactinfo, .contactform{
        width: 100%;
    }

  }